/build*/
/build_release/
/build_t*/
/build-linux/
/build-x86/
/build-x86-*/
/build-aarch64*/
/out/
/cmake-build-*/
/third_party/
*.user
*.suo
*.o
*.obj
*.a
*.so
*.dll
*.exe
.vs/
.vscode/
.idea/
*.kzb
*.bak
*~
Thumbs.db
third_party/yaml-cpp-0.8.0.zip
